 body {
	padding-top: 70px;
}

.jumbotron {
	color: #2c3e50;
	background: #ecf0f1;
}

.navbar-inverse {
	background: #2c3e50;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

/*if manually assign didn't work, then inspect, use code from inspect*/
.navbar-inverse .navbar-brand {
    color: white;
}

.fa {
    color: #fc03f8;
}

